body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  width: 300px;
  margin: auto;
  text-align: center;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: white;
  margin: 5px 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}